# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
!.env.example

# prisma
/prisma/*.db
/prisma/migrations/dev.db*

# next standalone / build artifacts
/.next/standalone
/.next/cache

# pm2 / logs
*.log
/logs

# typescript
*.tsbuildinfo
next-env.d.ts
